<script type="text/javascript">
  $(document).ready(function () {
    // Predict Disease
    $('#predict_btn').click(function () {
      console.log('Button Predict Clicked')
      var s1 = $('.myform #Symptom1').val()
      var s2 = $('.myform #Symptom2').val()
      var s3 = $('.myform #Symptom3').val()
      var s4 = $('.myform #Symptom4').val()
      var s5 = $('.myform #Symptom5').val()
      var s6 = $('.myform #Symptom6').val()
      var s7 = $('.myform #Symptom7').val()
      var s8 = $('.myform #Symptom8').val()
      var s9 = $('.myform #Symptom9').val()
      var s10 = $('.myform #Symptom10').val()
      var id = $('.myform #user_id').val()
  
      console.log(s1)
      console.log(s2)
      console.log(s3)
      console.log(s4)
      console.log(s5)
      console.log(s6)
      console.log(s7)
      console.log(s8)
      console.log(s9)
      console.log(s10)
      console.log(id)
  
      // Count non-empty symptoms
      var symptomCount = [s1, s2, s3, s4, s5, s6, s7, s8, s9, s10].filter((symptom) => symptom !== '').length
  
      if (symptomCount < 3) {
        alert('Please fill in at least three symptoms')
      } else {
        var mydata = {
          id: id,
          s1: s1,
          s2: s2,
          s3: s3,
          s4: s4,
          s5: s5,
          s6: s6,
          s7: s7,
          s8: s8,
          s9: s9,
          s10: s10
        }
        $.ajax({
          url: "{% url 'predict' %}",
          method: 'POST',
          data: mydata,
          success: function (data) {
            var x = data.status
            console.log('Data Sent To The Backend')
            console.log('Predicted Disease', x)
            if (x) {
              $('#result').html('<div class="alert alert-success" role="alert">There Are Chances You Have ' + x + '</div>')
            } else {
              $('#result').html('<div class="alert alert-warning" role="alert">No Disease Prediction Available</div>')
            }
          },
          error: function (xhr, status, error) {
            console.log('Error:', error)
          }
        })
      }
    })
  
    // Make Appointment
    $('#tbody').on('click', '.btn_ment', function () {
      console.log('Button Appointment Clicked')
      let disease = $(this).attr('data-sid')
      var userid = $('#tbody #user_id').val()
  
      console.log('Prediction ID is', disease)
      console.log('User ID is', userid)
  
      var mydata = {
        disease: disease,
        userid: userid
      }
      $.ajax({
        url: "{% url 'appointment'%}",
        method: 'POST',
        data: mydata,
        success: function (data) {
          var x = data.status
          console.log('Data Sent To The Backend')
          console.log('Appointment Status Is ', x)
  
          if (x === 'saved') {
            $('#appointment_result').html('<div class="alert alert-success" role="alert">Appointment Was Successfully Requested</div>')
          } else if (x === 'exist') {
            $('#appointment_result').html('<div class="alert alert-warning" role="alert">Appointment Request Exist</div>')
          } else {
            $('#appointment_result').html('<div class="alert alert-danger" role="alert">Something Went Wrong</div>')
          }
        }
      })
    })
  
    // View Symptoms
    $('#tbody').on('click', '.btn_view', function () {
      console.log('Button Symptoms Clicked')
      let disease = $(this).attr('data-sid')
      var userid = $('#tbody #user_id').val()
  
      console.log('Prediction ID is', disease)
      console.log('User ID is', userid)
  
      var mydata = {
        disease: disease,
        userid: userid
      }
      $.ajax({
        url: '',
        method: 'POST',
        data: mydata,
        success: function (data) {
          console.log('Data Sent To The Backend')
        }
      })
    })
  })
</script>
