{% extends 'patient/base.html' %}

{% block body %}
  <div id="content-wrapper">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h4 class="bg-primary p-4 rounded text-center" role="alert">List Of Diagnosed Diseases</h4>

          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Patient</th>
                  <th scope="col">Status</th>
                  <th scope="col">Day</th>
                  <th scope="col">Time</th>
                  <th scope="col">Doctor</th>
                  <th scope="col">Doctor Contact</th>
                </tr>
              </thead>
              <tbody>
                <input type="hidden" value="{{ user.id }}" name="" id="user_id" />

                {% for d in appointment %}
                  <tr>
                    <td class="d-none">{{ d.id }}</td>
                    <td>{{ d.patient.username }}</td>
                    {% if not d.approved %}
                      <td>Pending</td>
                    {% else %}
                      <td>Approved</td>
                    {% endif %}
                    <td>{{ d.appointment_day|default:'Not Set'|date:'M d, Y' }}</td>
                    <td>{{ d.time|default:'Not Set' }}</td>
                    <td>{{ d.doctor.username|default:'None' }}</td>
                    <td>{{ d.doctor.phonenumber|default:'None' }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <div id="appointment_result"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
