{% extends 'patient/base.html' %}
{% load static %}

{% block body %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mb-3 shadow">
          <div class="bg-primary text-white text-center m-3 rounded p-4">
            <h4>Create Your Profile</h4>
          </div>
          <div class="card-body">
            <form action="" method="POST">
              {% csrf_token %}
              <div class="mb-3">
                <label for="birth_date" class="form-label">Date of Birth</label>
                <input type="date" id="birth_date" class="form-control" name="birth_date" min="1950-01-01" max="2021-12-12" required />
              </div>
              <div class="mb-3">
                <label for="gender" class="form-label">Gender</label>
                <select class="form-select" id="gender" name="gender" required>
                  <option selected disabled>Please Select Your Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <input type="text" class="form-control" id="country" name="country" placeholder="Country" required />
              </div>
              <div class="mb-3">
                <label for="region" class="form-label">Region</label>
                <input type="text" class="form-control" id="region" name="region" placeholder="Region" required />
              </div>
              <button type="submit" class="btn btn-success btn-lg btn-block">Save</button>
            </form>
          </div>
        </div>
        {% if messages %}
          <div class="messages">
            {% for message in messages %}
              <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
