{% extends 'patient/base.html' %}

{% block body %}
  <div id="content-wrapper" class="py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          {% if status == 'success' %}
            <div class="card shadow">
              <h2 class="h3 p-4 text-center text-light bg-dark rounded-top">Disease Advice for {{ disease }}</h2>

              <div class="card-body font-format">
                <p>
                  <strong>Description:</strong> {{ description }}
                </p>
                <p>
                  <strong>Diet:</strong> <span id="diet">{{ diet }}</span>
                </p>
                <p>
                  <strong>Medication:</strong> <span id="medication">{{ medication }}</span>
                </p>
                <p>
                  <strong>Precautions:</strong> {{ precautions }}
                </p>
              </div>
              <style>
                .font-format {
                  font-size: 18px;
                }
              </style>
            </div>
          {% elif status == 'not_found' %}
            <div class="alert alert-warning" role="alert">
              <h2 class="h3">No Advice Found</h2>
              <p>{{ message }}</p>
            </div>
          {% elif status == 'incomplete' %}
            <div class="alert alert-primary" role="alert">
              <h2 class="h3 text-center">Advice Unavailable</h2>
              <p class="text-center">{{ message }}</p>
            </div>
          {% elif status == 'error' %}
            <div class="alert alert-danger" role="alert">
              <h2 class="h3">Error</h2>
              <p>{{ message }}</p>
            </div>
          {% else %}
            <div class="alert alert-secondary" role="alert">
              <h2 class="h3">Invalid Request</h2>
              <p>{{ message }}</p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <script>
    window.onload = function () {
      // Function to format text by removing square brackets and making it more readable
      function formatText(text) {
        // Remove square brackets and trim spaces
        let formatted = text.replace(/^\[\s*\'|\'\s*\]$/g, '').replace(/',\s*'/g, ', ')
        return formatted
      }
    
      // Get elements by ID
      let dietElement = document.getElementById('diet')
      let medicationElement = document.getElementById('medication')
    
      // Apply formatting function
      if (dietElement) {
        dietElement.innerText = formatText(dietElement.innerText)
      }
      if (medicationElement) {
        medicationElement.innerText = formatText(medicationElement.innerText)
      }
    }
  </script>
{% endblock %}
