{% extends 'patient/base.html' %}
{% block body %}
  <div id="content-wrapper">
    <div class="container">
      <div class="justify-content-center">
        {% if status == '1' %}
          <div class="text-center mx-auto w-50">
            <h1 class="font-weight-bold mb-5">Hello <span class="text-success">{{ user.username }}</span></h1>
            <div class="mb-5">
              <a href="{% url 'diagnosis' %}" class="card-link">
                <div class="card p-3">
                  <div class="card-body">
                    <h5 class="card-title">Make Prediction</h5>
                    <p class="card-text">Click to make prediction</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="mb-5">
              <a href="{% url 'result' %}" class="card-link">
                <div class="card p-3">
                  <div class="card-body">
                    <h5 class="card-title">Prediction Results</h5>
                    <p class="card-text">View your prediction results.</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="">
              <a href="{% url 'appointment_list' %}" class="card-link">
                <div class="card p-3">
                  <div class="card-body">
                    <h5 class="card-title">Appointments</h5>
                    <p class="card-text">Manage your appointments.</p>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <style>
            .card-link {
              text-decoration: none;
            }
            
            .card-link:hover .card {
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
              transform: translateY(-5px);
            }
          </style>
        {% else %}
          <div class="text-center mb-3 mt-5">
            <h1 class="display-4 font-weight-600">Hello {{ user.username }}</h1>

            <p class="lead mb-5">
              It looks like you haven't created your profile yet.<br /> Let's get started to personalize your ApexMed experience!
            </p>
          </div>
          <div class="mb-4 w-50 mx-auto text-center">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Create Your Profile</h5>
                <p class="card-text">Help us tailor our services to you by providing some basic information.</p>
                <a href="{% url 'create_profile' %}" class="btn btn-primary">Get Started</a>
              </div>
            </div>
          </div>
        {% endif %}
      </div>

      {% if profile_status %}
        <div class="justify-content-center">
          <P class="text-center text-danger">{{ profile_status }}</P>
        </div>
      {% endif %}

      {% if messages %}
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="messages">
              {% for message in messages %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
