{% extends 'patient/base.html' %}
{% block body %}
  <div id="content-wrapper">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-4 mb-4">
          <div class="alert alert-success">
            <div class="card-body">
              <p class="card-text">
                Currently logged in as <span class="fw-bold text-danger">{{ user.username }}</span>
              </p>
            </div>
          </div>
        </div>

        {% if status == '1' %}
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Make Diagnosis</h5>
                <p class="card-text">Start a new diagnosis process.</p>
                <a href="{% url 'diagnosis' %}" class="btn btn-primary">Make Diagnosis</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Diagnosis Results</h5>
                <p class="card-text">View your diagnosis results.</p>
                <a href="{% url 'result' %}" class="btn btn-primary">View Results</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Appointment</h5>
                <p class="card-text">Manage your appointments.</p>
                <a href="{% url 'appointment_list' %}" class="btn btn-primary">View Appointments</a>
              </div>
            </div>
          </div>
        {% else %}
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">User Profile</h5>
                <p class="card-text">Create or update your user profile.</p>
                <a href="{% url 'create_profile' %}" class="btn btn-primary">Create Profile</a>
              </div>
            </div>
          </div>
        {% endif %}
      </div>

      {% if profile_status %}
        <div class="row justify-content-center">
          <div class="col-md-8">
            <h2 class="text-center text-danger">{{ profile_status }}</h2>
          </div>
        </div>
      {% endif %}

      {% if messages %}
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="messages">
              {% for message in messages %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
