{% extends 'base.html' %}

{% block body %}
  <!-- Header -->
  <header class="bg-dark text-white text-center py-5">
    <div class="container">
      <h1 class="font-weight-light">About The Disease Prediction System</h1>
      <p class="lead">Using technology to provide early disease detection and improve healthcare outcomes</p>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-6">
        <h2>The Project</h2>
        <p class="lead">The Disease Prediction System is a final year project developed to demonstrate the potential of machine learning in healthcare. This system aims to assist patients, doctors and healthcare providers by predicting possible diseases based on patient symptoms.</p>
        <p>Using machine learning algorithms and a comprehensive dataset, the system provides predictions and suggests possible diseases a patient might be suffering from. This tool is designed to be an aid the patient as well as healthcare professionals, helping them make more informed decisions quickly and efficiently.</p>
      </div>
      <div class="col-lg-6">
        <img src="../static/core/img/num1.jpg" class="img-fluid rounded" alt="Disease Prediction" />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-lg-6 order-lg-2">
        <h2>Features</h2>
        <ul>
          <li>disease prediction using machine learning algorithms</li>
          <li>User-friendly interface for easy symptom input</li>
          <li>Comprehensive database of diseases and symptoms</li>
          <li>Appointment scheduling with healthcare professionals</li>
          <li>Email notifications for appointment confirmations and reminders</li>
        </ul>
      </div>
      <div class="col-lg-6 order-lg-1">
        <img src="../static/core/img/num2.jpg" class="img-fluid rounded" alt="Features" />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-lg-6">
        <h2>The Goal</h2>
        <p>The main aim of this project is to create a disease prediction system that is easy to use and dependable for people, helping them make knowledgeable choices about their health. This system intends to close the gap between patients and healthcare providers, guaranteeing individuals receive information promptly and precisely concerning their possible health problems.</p>
      </div>
      <div class="col-lg-6">
        <img src="../static/core/img/num4.jpg" class="img-fluid rounded" alt="Mission" />
      </div>
    </div>
  </div>
{% endblock %}
