{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <title>APEXMED</title>
    <!-- Bootstrap CSS -->

  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{% static 'core/vendors/fontawesome/css/all.min.css' %}" rel="stylesheet" />

   
  </head>
  <body>
    <!-- ================Header Menu Area ================= -->
    <header class="header_area">
      <div class="top_menu row m-0"></div>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-5">
        <div class="container">
          <a class="navbar-brand logo_h" href="/"><h1 class="mb-0">APEXMED</h1></a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 navList">
              <li class="nav-item me-lg-3">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item me-lg-3">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item me-lg-3">
                <a class="nav-link" href="{% url 'reg' %}">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- ================Header Menu Area ================= -->
  <style>
    .navList {
      font-size: 19px;
    }
  </style>

  <body>
    {% block body %}

    {% endblock %}

   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
