{% extends 'base.html' %}
{% block body %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center">Verify Your Email</h2>
            <form method="post" class="mt-4">
              {% csrf_token %}
              <div class="form-group">
                <label for="otp">Enter OTP:</label>
                <input type="text" class="form-control" id="otp" name="otp" required />
              </div>
              <input type="hidden" name="user_id" value="{{ user_id }}" />
              <button type="submit" class="btn btn-primary btn-block">Verify</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
